/* shared styles */

.display-flex {
    display: flex;
}

.text-primary {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.text-secondary {
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* common styles */

.noto-serif-font> {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-font> {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* navbar style */

.menu {
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    color: rgba(137, 135, 161, 1);
}

.menu-items {
    gap: 3rem;
}

#home {
    color: rgba(37, 36, 50, 1);
}

#cart {
    color: #000000;
}

@media screen and (max-width: 576px) {

    .menu {
        width: 80%;
        height: 38px;
        justify-content: space-between;
        align-items: center;
    }

    .menu>img {
        object-fit: cover;
        width: 4rem;
        height: 2.4rem;
    }

    .menu-items>#home,
    #shop,
    #about {
        display: none;
    }
}