/* shared styles */

.display-flex {
    display: flex;
}

.text-primary {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.text-secondary {
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* common styles */

.noto-serif-font> {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-font> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}